<nav>
  <div class="nav container">
    <a href="/" class="logo">
      <img src="/assets/img/logoMn.png" class="logo-img" alt="Logo" />
    </a>
    <i class="fa-solid fa-bars" id="menu-icon"></i>
    <ul class="navbar">
      <li><a href="/" class="active">Acerca de</a></li>
      <li><a href="">Estudios</a></li>
      <li><a href="">Skills</a></li>
      <li><a href="">Proyectos</a></li>

      <li><a href="">Contacto</a></li>
    </ul>

    <a href="/login">
      <button
        type="button"
        class="boton btn btn-outline-light"
        (click)="login()"
        *ngIf="!isLogged"
      >
        Ingreso
      </button>
      <button
        type="button"
        class="boton btn btn-outline-light"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        Cerrar sesión
      </button>
    </a>
  </div>
</nav>
