<section id="sobremi">
  <div class="conteiner">
    <div class="moviltitulo">
      <div class="sobremi">
        <div class="titulos">
          <p class="titulo-seccion">Sobre Mi</p>
          <h2>Hola, Soy <span>Mateo Nerli</span></h2>
          <h3>Futuro programador</h3>
        </div>
      </div>
    </div>
    <div class="contenedor-foto">
      <img src="/assets/img/yo.jpg" alt="" />
    </div>
    <div class="sobremi">
      <div class="titu">
        <div class="titulos">
          <p class="titulo-seccion">Sobre Mi</p>
          <h2>Hola, Soy <span>Mateo Nerli</span></h2>
          <h3>Futuro programador</h3>
        </div>
      </div>

      <div class="info">
        <p>
          Soy una persona proactiva, organizada y responsable. Tengo una gran
          pasión por la programacion al cual le dedico una gran mayoria de mi
          tiempo. Me encuentro en busqueda de nuevos desafios en una empresa que
          me permita potenciar mi desarrollo profesional y pueda aplicar todos
          mis conocimientos.
        </p>
        <p>
          Durante mi tiempo libre me gusta juntarme con mis amigos, ir al
          gimnasio y ir a hacer deportes al aire libre.
        </p>
        <div class="btn">
          <a href="#">Descargar CV</a>
        </div>
      </div>
    </div>
  </div>
</section>
