<section id="header">
  <div class="presentacion">
    <p class="bienvenida">Bienvenidos</p>
    <h2>Soy <span>Mateo Nerli</span>,Desarrollador Full Stack JR</h2>
    <p class="descripcion">
      Soy un apasionado Desarrollador Full Stack Junior con experiencia en la
      creación de aplicaciones web interactivas. Me siento cómodo trabajando
      tanto en la parte del front-end como en el back-end y aplicaciones de
      consola. He participado en proyectos desafiantes donde he tenido la
      oportunidad de colaborar con equipos y aprender de cada experiencia.
    </p>
    <div class="redes">
      <a
        href="https://www.linkedin.com/in/mateo-nerli-9b1b3a1b3/"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</section>
