<section id="header">
  <!-- <div class="img">
    <img src="assets/img/yo.jpg" alt="Mateo Nerli" />
  </div> -->
  <div class="presentacion">
    <p class="bienvenida">Bienvenidos</p>
    <h2>Soy <span>Mateo Nerli</span>, Developer Junior</h2>
    <p class="descripcion">
      Soy una persona proactiva, organizada y responsable. Tengo una gran pasión
      por la programacion al cual le dedico una gran mayoria de mi tiempo. Me
      encuentro en busqueda de nuevos desafios en una sitio que me permita
      potenciar mi desarrollo profesional y pueda aplicar todos mis
      conocimientos.
    </p>
    <div class="redes">
      <a
        href="https://www.linkedin.com/in/mateo-nerli-9b1b3a1b3/"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</section>
